* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// global variables
// color
$skyblue: #CAE9FF;
$blue: #248EEC;

.autoComplete {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid black
}


.recommendedKeyword {
  display: flex;

}

.keyword-container {
  display: flex;
}